# Hermonoid .gitignore

# Бази даних
*.db
*.db-*

# Логи
*.log

# Конфігурація (ключі)
.env
config/*.key

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
